.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  transition: all 0.3s ease;
  background-color: transparent !important;
}

.navbar-scrolled {
  background: #388261e3 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  margin-left: 20px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  color: #ffbb00e7 !important;
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #349556f1 !important;
}

.dropdown-item {
  color: #e8f5e9 !important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item.active,
.dropdown-item:focus-visible {
  color: rgb(13, 14, 14) !important;
  background-color: #e8f5e9 !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff !important;
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: #2e7d32d9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .nav-link {
    margin: 10px 0;
  }
}
